<p id="notice"><%= notice %></p>

<h1>Cidades</h1>

<%= Date.today %>
<%= Date.today.strftime('%d /%m /%Y') %>
<%= br_date(Date.today) %>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>CEP</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.desgription %></td>
        <td><%= formata_cep(city.code) %></td>
        <td><%= city.state.description %></td>
        <%# <td><%= image_tag city.image, width: 200, height: 100 %></td>
        <td><%= image_tag city.image, size: "200x100" %></td> 
        <td><%= link_to 'Mostrar', city %></td>
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Excluir', city, method: :delete, data: { confirm: 'Confirma exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Cidade', new_city_path %>
